page-home {
ion-title{
    text-align: center;
}
ion-content{
    background-color:   darkkhaki !important;
}
ion-item{
    background-color: darkseagreen;
}

img[id="myGro"]{
    border-radius: 150px;
    border-image-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

}